@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

body {
  overflow-x: hidden;
}

p {
  margin-bottom: 1.25em;
}

blockquote {
  font-style: oblique;
  opacity: 0.8;
}

h2 {
  font-size: 18px;
  margin-bottom: 1em;
  font-weight: bold;
  letter-spacing: 0.3pt;
}

#header li {
  list-style: none;
}

#header li a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#header {
  background: black;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  padding: 0 40px;
}

#header h1 {
  font-size: 1.8rem;
  color: white;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

#header h1 a {
  color: white;
  text-decoration: none;
}

#header h1 a:hover {
  color: #bbb;
}

#logo {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index: 10;
  width: 200px;
}

#page-title h1 {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index: 10;
  width: 100%;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#logo img {
  max-width: 100%;
}

#intro {
  font-size: 18px;
}

#intro a {
  text-decoration: none;
  color: #999;
  margin-left: 10px;
}

#intro a:hover {
  color: #333;
}

#news {
  background: #e92338 url(../img/homepage-news.jpg);
  padding: 10px 0;
  color: #fff;
}

#news h2 {
  margin-bottom: 0.5em;
}

#news p {
  margin-bottom: 0.5em;
}

#performance-title {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index: 10;
  pointer-events: none;
}

#performance-title h1 {
  font-family: 'Raleway Dots', cursive;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 7rem;
  font-weight: normal;
}

@media (max-width: 666px) {
  #performance-title h2 {
    font-size: 4rem;
  }
}

#sidebar {
  line-height: 36px;
  font-size: 12px;
  margin-bottom: 2em;
}

#sidebar a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

#sidebar img {
  max-width: 100%;
  box-sizing: border-box;
}

#slides-wrap {
  width: 100%;
}

#slides {
}

#slides .copyright {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

#main .container {
    padding-top: 2em;
    padding-bottom: 2em;
}

#content {
  color: #333;
  line-height: 36px;
}

#content a {
  color: inherit;
}

img#poster {
  display: block;
  margin-top: 50px;
  max-width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

#voorstellingen {
  padding: 10px 0;
  background: black;
}

#voorstellingen h2 {
  color: white;
}

#voorstellingen ul {
  margin: 0;
  padding: 0;
}

#voorstellingen li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

#voorstellingen li a {
  width: 300px;
  height: 200px;
  display: inline-block;
  position: relative;
}

#voorstellingen img {
  max-width: 100%;
  cursor: pointer;
}

#voorstellingen span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#booking-info-link {
  display: inline-block;
  font-size: 1.5rem;
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid #666;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 550px) {
  #booking-info-link {
    display: none;
  }
}


#booking-info {
  margin-top: 20px;
  font-size: 12px;
  line-height: 24px;
  color: #999;
}

#booking-info a {
  color: #999;
}

#booking-info p {
  margin-bottom: 3em;
}

@media (min-width: 550px) {
  #booking-info {
    margin-top: 0;
  }

  #booking-info h2 {
    display: none;
  }
}


.slides-navigation a {
  display: block;
  font-weight: bold;
  padding: 50px 25px;
  font-size: 30px;
  color: #fff;
  opacity: 0.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;
}

.slides-navigation a:hover {
  opacity: 0.9;
}

.slides-pagination a {
  opacity: 0.5;
  border-color: #fff;
}

.slides-pagination a.current {
  background: #fff;
}

#footer {
  font-size: 12px;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #111116;
  color: #999;
  line-height: 200%;
}

#footer a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

.speellijst th, .speellijst td {
  border-bottom-color: rgba(0, 0, 0, 0.05);
}

.speellijst td {
  font-size: 13px;
  white-space: nowrap
}

.speellijst a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.speellijst small {
  font-size: 11px;
  font-style: italic;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
  }

  .table-responsive table {
    margin-bottom: 0;
  }

  .table-responsive td, .table-responsive th {
    white-space: nowrap;
  }

}

.table-responsive table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}
