<!DOCTYPE html>
<html lang="nl">
<head>
  {{ partial "head.html" .}}
</head>
<body>
  {{ partial "header.html" }}

  <div id="slides-wrap">
    <div id="slides">
      <ul class="slides-container">
        {{ range $filename, $author := .Params.images }}
        <li>
          <img src="{{ $.Site.BaseURL }}img/{{ $filename }}" alt="">
          <p class="copyright">&copy; {{ $author }}</p>
        </li>
        {{ end }}
      </ul>
      <nav class="slides-navigation">
        <a href="#" class="next">
          <i class="icon-chevron-right"></i>
        </a>
        <a href="#" class="prev">
          <i class="icon-chevron-left"></i>
        </a>
      </nav>
    </div>
  </div>

  <div id="performance-title">
    <h1>{{ .Title }}</h1>
  </div>

  <div id="main">
    <div class="container">
      <div class="row">
        <div class="eight columns" id="content">
          {{ .Content }}
        </div>
        <div class="four columns" id="sidebar">
          {{ if .Params.poster }}
          <img id="poster" src="/img/{{ .Params.id }}-poster.jpg" alt="Poster {{ .Title }}">
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer.html" }}
  {{ partial "scripts.html" }}
  <script type="text/javascript">
  function isMobile() {
    return (/Android|iPhone|iPad|iPod|BlackBerry/i).test(navigator.userAgent || navigator.vendor || window.opera);
  }

  if (window.innerWidth <= 550 && window.innerWidth < window.innerHeight) {
    $('#slides-wrap').height(window.innerHeight / 2);
  } else {
    $('#slides-wrap').height(window.innerHeight  - 45);
  }
  $('#slides').superslides({inherit_height_from: '#slides-wrap'});

  if (!isMobile()) {
    skrollr.init({smoothScrolling: true});
  }
  </script>

<style>
  #main {
    {{- if .Params.backgroundColor }}
      background-color: {{ .Params.backgroundColor }};
    {{- end  }}
    {{- if .Params.backgroundImage }}
      background-image: url({{ .Site.BaseURL }}img/{{ .Params.backgroundImage }});
    {{- end }}
  }
  {{- if .Params.contentColor }}
  #content {
    color: {{ .Params.contentColor}};
  }
  {{- end }}
</style>
</body>
</html>
