
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <strong><a href="{{ .Site.BaseURL }}/">Compagnie Barbarie</a></strong><br>
        <a href="{{ .Site.BaseURL }}/#shows">Voorstellingen</a><br>
        <a href="{{ .Site.BaseURL }}/over-ons">Over Ons</a><br>
        <a href="{{ .Site.BaseURL }}/pers">Pers</a>
      </div>

      <div class="four columns">
        <br>
        Compagnie Barbarie vzw<br>
        De Merodestraat 447/4<br>
        1190 Vorst - Brussel
      </div>
      <div class="four columns">
        <br>
        <a href="mailto:ciebarbarie@gmail.com">ciebarbarie@gmail.com</a><br>
        <a href="https://www.facebook.com/cie.barbarie">Facebook</a><br>
        <a href="tel:+32495533624">+32 495 53 36 24</a>
      </div>
    </div>
  </div>
</div>
