  <div id="lang">
    {{- if eq .Site.Language.Lang "nl" }}
    <a href="{{ .Site.BaseURL }}nl/" class="active">NL</a>
    {{- else }}
      {{- range where .Translations "Lang" "nl" }}
      <a href="{{ .Permalink }}">NL</a>
      {{- else }}
      <a href="{{ .Site.BaseURL }}nl/">NL</a>
      {{- end }}
    {{- end }}

    {{- if eq .Site.Language.Lang "en" }}
    <a href="{{ .Site.BaseURL }}en/" class="active">EN</a>
    {{- else }}
      {{- range where .Translations "Lang" "en" }}
      <a href="{{ .Permalink }}">EN</a>
      {{- else }}
      <a href="{{ .Site.BaseURL }}en/">EN</a>
      {{- end }}
    {{- end }}

  </div>
