<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} — {% endif %}Compagnie Barbarie</title>
  <meta name="description" content="Theatergezelschap met zeven vrouwen.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,700|Raleway+Dots" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{ content }}
</body>
</html>
