---
layout: base
noheader: true
performances:
  -
    id: wa-wilder-man-plus
    title: Wa Wilder Man +
  -
    id: wa-wilder-man
    title: Wa Wilder Man
  -
    id: risk
    title: Risk
  -
    id: the-end-is-dear
    title: The End Is Dear
  -
    id: spionkop
    title: Spionkop
  -
    id: schwab
    title: Schwab
  -
    id: happymess
    title: Happymess
  -
    id: too-far-east-is-west
    title: Too Far East Is West
  -
    id: undertwasser-wasserwasser
    title: Undertwasser Wasserwasser
---
<div id="slides-wrap">
  <div id="slides">
    <ul class="slides-container">
      <li>
        <img src="{{ site.baseurl }}/img/homepage-1.jpg" alt="">
      </li>
    </ul>
  </div>
</div>

<div id="logo"><img src="{{ site.baseurl }}/img/logo-transparent-w500.png" alt="Compagnie Barbarie Logo"></div>

<div id="main">
  <div class="container">
    <div id="intro">
      Compagnie barbarie is een collectief bestaande uit zeven vrouwen. <a href="{{ site.baseurl }}/over-ons.html">Lees meer</a>
    </div>
  </div>
</div>

<div id="news">
  <div class="container">
    <div class="row">
      <h2>Nieuws</h2>
      {{ content }}
    </div>
  </div>
</div>

<div id="voorstellingen">
  <div class="container">
    <h2>Voorstellingen</h2>
    <div class="row">
      <div class="nine columns">
        <ul>
        {% for performance in page.performances %}

          <li><a href="{{ site.baseurl }}/voorstellingen/{{ performance.id }}.html">
            <img src="{{ site.baseurl }}/img/{{ performance.id }}-thumb.jpg" alt="{{ performance.title }}">
            <span>{{ performance.title }}</span>
          </a></li>
        {% endfor %}
        </ul>
      </div>
      <div id="booking-info" class="three columns">
        <p>Wie ons wil boeken of meer info wil over verkoop en speellijst bel Liesje: <a href="tel:+32486903916">+32&nbsp;486&nbsp;90&nbsp;39 16</a> of neem rechtsreeks contact op met Thassos: <a href="tel:+3232350490">+32&nbsp;3&nbsp;235&nbsp;04&nbsp;90</a>.</p>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$('#slides-wrap').height(window.innerHeight);
$('#slides').superslides({inherit_height_from: '#slides-wrap'});
</script>

