---
layout: default
---

<style>
  body {
    background: url(img/the-end-is-dear-big.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-top: 20px;
  }
</style>


<div class="container">
  <div class="row">
    <div class="six columns home-nav">
      <ul>
        <li><a href="/over-ons.html">Over Ons</a></li>
        <li><a href="/voorstellingen/">Voorstellingen</a></li>
        <li><a href="/pers.html">Pers</a></li>
      </ul>
    </div>
    <div class="six columns">
      <img src="/img/logo-transparent-w500.png" alt="Compagnie Barbarie Logo" class="u-max-full-width">
    </div>
   </div>
  </div>
</div>
