---
layout: base
---
<div id="slides-wrap">
  <div id="slides">
    <ul class="slides-container">
      <li>
        <img src="{{ site.baseurl }}/img/homepage-1.jpg" alt="">
      </li>
    </ul>
  </div>
</div>

<div id="logo"><img src="{{ site.baseurl }}/img/logo-transparent-w500.png" alt="Compagnie Barbarie Logo"></div>

<div id="main">
  <div class="container">
    <div id="intro">
      Compagnie barbarie is een collectief bestaande uit zeven vrouwen. <a href="{{ site.baseurl }}/over-ons.html">Lees meer</a>
    </div>
  </div>
</div>

<div id="news">
  <div class="container">
    <div class="row">
      <h2>Nieuws</h2>
      {{ content }}
    </div>
  </div>
</div>

<div id="shows">
  <div class="container">
    <a id="booking-info-link" href="#booking-info">Info &amp; Boekingen</a>
    <h2>Voorstellingen</h2>
    <div class="row">
      <div class="nine columns">
        <ul>
        {% for performance in page.performances %}
          <li><a href="{{ site.baseurl }}/voorstellingen/{{ performance.id }}.html">
            <img src="{{ site.baseurl }}/img/{{ performance.id }}-thumb.jpg" alt="{{ performance.title }}">
            <span>{{ performance.title }}</span>
          </a></li>
        {% endfor %}
        </ul>
      </div>
      <div id="booking-info" class="three columns">
        <h2>Info</h2>
        <p>Wie meer info wil over verkoop en speellijst bel Liesje: <a href="tel:+32486903916">+32&nbsp;486&nbsp;90&nbsp;39 16</a> of mail: <a href="mailto:ciebarbarie@gmail.com">ciebarbarie@gmail.com</a>.</p>
        <p>Voor de <strong>speellijst</strong> — kijk bij de voorstellingen.</p>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$('#slides-wrap').height(window.innerHeight);
$('#slides').superslides({inherit_height_from: '#slides-wrap'});
</script>

